<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <script
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script
            src="//cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
    <script src="view/app.js"></script>
</head>
<body>
<div ng-controller="MsgCtrl as vm">

  <!--   <h3>Топик: {{vm.getTopic()}}. Чтобы сменить топик, перегрузите страницу добавив к url '#название_топика'</h3>-->
     <label for="topicSelect">Топик:</label><select id="topicSelect" ng-model="topic" ng-change="topicChange()">
         <option value="{{item}}" ng-disabled="item==topic" ng-repeat="item in topics">{{item}}</option>

     </select>



    <div ui-grid="gridOptions" class="grid" ui-grid-pagination></div>
</div>
</body>
</html>